<h1>An HTML5 game based on the Marine Split Challenge</h1>

<h2>About</h2>
<p>This project was created as the third week-long project of the General Assembly WDI course. It is an HTML5 game on canvas using Phaser as a framework. It is based on many ideas from the real time strategy game Starcraft 2 </p>

<h2>Objective</h2>
	<p>Keep as many Marines alive each round as possible</p>

<h2>Units</h2>
	<p>Banelings: Green critters that explode on contact. Avoid these!</p>
	<p>Marines: The good guys. Don't let them get hit by banelings.</p>

<h2>Abilities</h2>
	<p>Forcefield: Given 3 per round. These can block up to ten banelings.</p>
	<p>Time Warp: Global Ability. Slow down all baneling by 50%</p>

<h2>Controls</h2>
<ul>
	<li>Mouse: Select and Drag a Marine</li>
	<li>F key: Cast Forcefield. Placed at your cursor's current position</li>
	<li>Spacebar: Activate Time Warp</li>
</ul>