<%= content_for :js do %>
	<%= javascript_include_tag "drag_select" %>
	<%= javascript_include_tag "attack_range" %>
<% end %>

<h1>Attack Range</h1>
<p>Banelings will attack marines that exist within a specified range</p>
<div id="attack-range"></div>

<h1>Drag Selection</h1>
<p>Can box select multiple marines and right click them to move to a location</p>
<div oncontextmenu="return false;" id="drag-select"></div>



