<%= content_for :js do %>
	<%= javascript_include_tag "drag_select" %>
	<%= javascript_include_tag "attack_range" %>
<% end %>

<h1>Drag Select</h1>
<div oncontextmenu="return false;" id="drag-select"></div>

<h1>Attack Range</h1>
<div id="attack-range"></div>

